---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

import ImageGallery from '~/components/widgets/ImageGallery.astro';
import Letter1 from '../assets/images/student-letters/letter-1.webp';
import Letter2 from '../assets/images/student-letters/letter-2.webp';
import Letter3 from '../assets/images/student-letters/letter-3.webp';
import Letter4 from '../assets/images/student-letters/letter-4.webp';

const metadata = {
  title: 'Mr. Monkey',
};

const images = [
  {
    id: 'letter-1',
    image: Letter1.src,
    width: 2376,
    height: 1574,
  },
  {
    id: 'letter-2',
    image: Letter2.src,
    width: 2376,
    height: 1574,
  },
  {
    id: 'letter-3',
    image: Letter3.src,
    width: 2376,
    height: 1574,
  },
  {
    id: 'letter-4',
    image: Letter4.src,
    width: 2376,
    height: 1574,
  },
];
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#', icon: 'tabler:home' },
        { text: 'About', href: '#about', icon: 'tabler:address-book' },
        { text: 'Resume', href: '#resume', icon: 'tabler:file-cv' },
        { text: 'Philosophy', href: '#teaching-philosophy', icon: 'tabler:brain' },
        { text: 'Testimonials', href: '#testimonials', icon: 'tabler:brain' },
        { text: 'Accomplishments', href: '#teaching-projects', icon: 'tabler:brain' },
        { text: 'WebApps', href: '#webapps', icon: 'tabler:article-filled-filled' },
        { text: 'Blog', href: '#blog', icon: 'tabler:article-filled-filled' },
      ]}
      actions={[
        {
          text: 'Hire me',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Michael J. Fitzgerald"
    tagline='"No such thing as bad student, only bad teacher." —Mr. Miyagi, The Karate Kid'
    actions={[{ variant: 'primary', target: '_blank', text: 'Hire me', href: '/' }]}
  >
    <Fragment slot="subtitle">
      <span class="max-w-2xl text-2xl text-center"> </span>
      <span class="max-w-2xl text-2xl text-center"
        >Elementary School Teacher, Web Developer, Programmer,<br /> Translator (Mandarin → English), D&D Forever DM, Cyclist</span
      >
      <br />
      <br />
      Highly accomplished homeroom teacher with nearly a decade of experience teaching ESL, math, science, and language arts
      who has leveraged in-class games for engaging lessons, and who has utilized Python, advanced Excel techniques, and
      other tools to gain valuable insights into students and their behaviors all in order to better educate them.
      <span class="flex flex-col items-center justify-center mt-8">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/vOCCbvM5uss?si=pjXuOR4r-rNUuYGV"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </span>
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-github-filled',
        callToAction: {
          target: '_blank',
          text: 'GitHub',
          href: 'https://github.com/mjf1406',
        },
      },
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/mfitz06/',
        },
      },
    ]}
    image={{
      src: '~/assets/images/self/personality-photo.jpg',
      alt: 'Pumping up the crew for Sports Day!',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h3>
      <span class="text-base">
        I'm a teacher, and yeah, it's my calling. Hello there! My name is Michael Fitzgerald. I excel at using data in
        class and integrating technology. I have developed several websites to improve my and my students' in-class
        lives.
        <br /><br />
        Everywhere I have been, I have developed new systems that were adopted by other teachers. At Better English, I created
        a shared materials system and revamped their onboarding for new teachers. At Avalon, I created a robust TOEFL cirriculum
        using Google Suite, massively improving efficiency. At Maple Bear, I had my largest impact. Not only did I integrate
        Google Suite, but I also began developing several websites, which were utilized by me and my colleagues. I also had
        a possitive influence on my colleagues due to my "teacher personality", which stems from my <a
          class="underline text-blue-500"
          href="#teaching-philosophy">teaching philosophy</a
        >.
        <br /><br />
        I love to learn and am always learning to live and to be a better teacher. My favorite process is the iterative process!
        Every time I do something in the classroom, I look for ways to make it better the next time.
      </span>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title: `
          5th Grade Homeroom Teacher <br /> 
          <span class="font-normal">Young Hoon Elementary School, Seoul, South Korea</span> <br /> 
          <span class="text-sm font-normal">March 2024 - present</span>
          `,
        description: `
          • Promoted to science lead for 5th grade after 1 month on the job <br>
          • Taught writing, literacy, presentations, math, and science to 5th grade Korean students <br>
          • Integrated bespoke webapps into the classroom <br>
          • Tracked student progress in gradebook <br> 
          • Identifified students with difficulties using statistical analysis of summative and formative assessments
          `,
        icon: 'tabler:briefcase',
      },
      {
        title: `
          4th Grade Lead Teacher <br /> 
          <span class="font-normal">Maple Bear, Seoul, South Korea</span> <br /> 
          <span class="text-sm font-normal">March 2023 - February 2024</span>
          `,
        description: `
          • Created a robust thematic cirriculum that integrated STEAM elements in every 8-week module <br>
          • Promoted to team lead to better integrate their cirriculum across modes <br>
          • Promoted to team lead to revamp their science education <br>
          • Integrated bespoke webapps into the classroom for the 4th grade team
          `,
        icon: 'tabler:briefcase',
      },
      {
        title: `
          ELA Teacher <br /> 
          <span class="font-normal">Maple Bear, Seoul, South Korea</span> <br /> 
          <span class="text-sm font-normal">March 2022 - February 2023</span>
          `,
        description: `
          • Taught writing, literacy, and presentations to elementary school students <br>
          • Integrated Google Suite into the cirriculum <br>
          • Identified students in need of extra support using statistics <br>
          • Keep a gradebook of students with automated reports for above analysis and parent-teacher conferences 
          `,
        icon: 'tabler:briefcase',
      },
      {
        title: `
          Acquisition Analyst <br /> 
          <span class="font-normal">Dovenmuehle Mortgage, Inc., Lake Zurich, IL, USA</span> <br /> 
          <span class="text-sm font-normal">March 2021 - Decemer 2021</span>
          `,
        description: `
          • Analyzed incoming client data for accuracy in accordance with banking regulations <br>
          • Utilized Python to increase efficiency by over 300% <br>
          • Singled-out for oustanding performance, was given choice of what to pursue next <br>
          • Trained colleagues on how to use Excel to increase productivity <br>
          • Assisted in fixing Excel workbooks that other colleagues could not repair
          `,
        icon: 'tabler:report-analytics',
      },
      {
        title: `
          Chinese-to-English Translator <br /> 
          <span class="font-normal">Yeehe, Remote</span> <br /> 
          <span class="text-sm font-normal">April 2018 - June 2021</span>
          `,
        description: `
          • Translate Chinese video games, documents, and presentation decks into English <br>
          • Used Google Sheets and Python to improve productivity of translation process
          `,
        icon: 'tabler:language',
      },
      {
        title: `
          English Teacher <br /> 
          <span class="font-normal">Avalon English, Seoul, South Korea</span> <br /> 
          <span class="text-sm font-normal">December 2015 - June 2020</span>
          `,
        description: `
          • Taught ELA, math, and science to elementary school students <br>
          • Improved classroom engagement by turning in-class activities into games <br>
          • Improved student performance through analysis of attendance, homework, test, and participation data <br>
          • Identified students in need of extra support using statistics <br>
          • Translated raw data into visualizations for monthly reporting and quarterly reporting
          `,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Lead ESL Teacher <br /> <span class="font-normal">Better English, Beijing, China</span> <br /> <span class="text-sm font-normal">July 2014 - August 2015</span>',
        description: `
          • Improved productivity by at least 30% via implementing campus-wide shared material storage <br>
          • Improved new teacher training by creating orientation and training materials
          `,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'ESL Teacher <br /> <span class="font-normal">Better English, Beijing, China</span> <br /> <span class="text-sm font-normal">March 2015 - June 2014</span>',
        description: `
          • Improved student performance through analysis of attendance, homework, test, and participation data <br>
          • Motivated students by offering fun games to play after work was completed
          `,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `
        Master of Arts in Elementary Teaching – 4.0 GPA <br /> 
        <span class="font-normal">American College of Education</span> <br /> 
        <span class="text-sm font-normal">2022 - 2024</span>
        `,
        icon: 'tabler:school',
      },
      {
        title: `
        Bachelor of Arts in Economics <br /> 
        <span class="font-normal">Carthage College</span> <br /> 
        <span class="text-sm font-normal">2008 - 2012</span>
        `,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Skills"
    subtitle="Discover the proficiencies that allow me to make learning engaging for every student."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Differentiated instruction',
        description:
          'From extra support to enrichment, I create perosnalized learning plans and goals for each of my students.',
      },
      {
        title: 'Multi-modal learning',
        description: 'Every lesson that I create uses all modes of delivery and engagement',
      },
      {
        title: 'Classroom management',
        description: 'From classroom jobs to consistent consequences',
      },
      {
        title: '',
        description: '',
      },
    ]}
  />

  <!-- TEACHING PHILOSOPHY -->

  <!-- Content Widget **************** -->

  <Content
    id="teaching-philosophy"
    isReversed
    title="The Holistic Child"
    tagline='"No such thing as bad student, only bad teacher." —Mr. Miyagi, The Karate Kid'
    items={[
      {
        title: 'Mindfullness Reason/Benefit #1',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
      },
      {
        title: 'Mindfullness Reason/Benefit #2',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
      },
      {
        title: 'Mindfullness Reason/Benefit #3',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
      },
    ]}
    image={{
      src: '~/assets/images/teaching-philosophy/mindfullness-removebg-preview.png',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Mindfullness</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Compassion & Empathy Reason/Benefit #1',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
      },
      {
        title: 'Compassion & Empathy Reason/Benefit #2',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
      },
      {
        title: 'Compassion & Empathy Reason/Benefit #3',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
      },
    ]}
    image={{
      src: '~/assets/images/teaching-philosophy/compassion-removebg-preview.png',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Compassion & Empathy</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    items={[
      {
        title: 'Skills for Success #1',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
      },
      {
        title: 'Skills for Success #2',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
      },
      {
        title: 'Skills for Success #3',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
      },
    ]}
    image={{
      src: '~/assets/images/teaching-philosophy/skills-for-success-removebg-preview.png',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Skills for Success</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'The ZPD & Comprehensible Input Reason/Benefit #1',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
      },
      {
        title: 'The ZPD & Comprehensible Input Reason/Benefit #2',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
      },
      {
        title: 'The ZPD & Comprehensible Input Reason/Benefit #3',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
      },
    ]}
    image={{
      src: '~/assets/images/teaching-philosophy/zpd-removebg-preview.png',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">The ZPD & Comprehensible Input</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    items={[
      {
        title: 'Inclusivity & Community #1',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
      },
      {
        title: 'Inclusivity & Community #2',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
      },
      {
        title: 'Inclusivity & Community #3',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
      },
    ]}
    image={{
      src: '~/assets/images/teaching-philosophy/inclusivity-removebg-preview.png',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Inclusivity & Community</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Patience & Kindness Reason/Benefit #1',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
      },
      {
        title: 'Patience & Kindness Reason/Benefit #2',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
      },
      {
        title: 'Patience & Kindness Reason/Benefit #3',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
      },
    ]}
    image={{
      src: '~/assets/images/teaching-philosophy/patience-removebg-preview.png',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Patience & Kindness</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    items={[
      {
        title: 'Personalized Learning #1',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
      },
      {
        title: 'Personalized Learning #2',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
      },
      {
        title: 'Personalized Learning #3',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
      },
    ]}
    image={{
      src: '~/assets/images/teaching-philosophy/personalized-learning-removebg-preview.png',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Personalized Learning</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    id="testimonials"
    title="Testimonials"
    subtitle="Discover what my colleagues and students have to say about me. Ask me about the story of any!"
    testimonials={[
      {
        testimonial: `I want my name to be Michael because your name is Michael.`,
        name: '2nd Grade Student',
        job: 'Avalon English',
        image: {
          src: '~/assets/icons/user-solid.svg',
          alt: 'Anon',
        },
      },
      {
        testimonial: `You're FINALLY getting your teaching license and a master's degree? You're finally doing what you were born to do.`,
        name: 'Lead Native-Korean English Teacher',
        job: 'Avalon English',
        image: {
          src: '~/assets/icons/user-solid.svg',
          alt: 'Anon',
        },
      },
      {
        testimonial: `You are a born teacher.`,
        name: 'English Teacher',
        job: 'Avalon English',
        image: {
          src: '~/assets/icons/user-solid.svg',
          alt: 'Anon',
        },
      },
      {
        testimonial: `Teacher! Teacher! I'm so glad you're back! I've had so many different teachers here, but you! You are the best teacher I've ever had!`,
        name: '6th Grade TOEFL Student',
        job: 'Avalon English',
        image: {
          src: '~/assets/icons/user-solid.svg',
          alt: 'Anon',
        },
      },
      {
        testimonial: `Be like Mike.`,
        name: 'Head Kindergarten Teacher',
        job: 'Maple Bear',
        image: {
          src: '~/assets/icons/user-solid.svg',
          alt: 'Anon',
        },
      },
      {
        testimonial: `Michael's patience is... it's f****** angelic.`,
        name: 'Head Kindergarten Teacher',
        job: 'Maple Bear',
        image: {
          src: '~/assets/icons/user-solid.svg',
          alt: 'Anon',
        },
      },
      {
        testimonial: `The parents trust you 100%.`,
        name: '4th Grade Teaching Partner',
        job: 'Maple Bear',
        image: {
          src: '~/assets/icons/user-solid.svg',
          alt: 'Anon',
        },
      },
      {
        testimonial: `I wish that my kids had a teacher like you.`,
        name: '4th Grade Teaching Partner',
        job: 'Maple Bear',
        image: {
          src: '~/assets/icons/user-solid.svg',
          alt: 'Anon',
        },
      },
      {
        testimonial: `I think you handle it really well because you see it happen, you deal with it, then you let it go. It doesn’t affect you, the boy, or the class ever again.`,
        name: '2nd Grade Lead Teacher',
        job: 'Maple Bear',
        image: {
          src: '~/assets/icons/user-solid.svg',
          alt: 'Anon',
        },
      },
      {
        testimonial: `I have to say that what you did with the TOEFL curriculum is really impresive. It's fantastic.`,
        name: 'Head English Teacher',
        job: 'Avalon English',
        image: {
          src: '~/assets/icons/user-solid.svg',
          alt: 'Anon',
        },
      },
    ]}
  />

  <ImageGallery images={images} />

  <!-- PORTFOLIO: Teaching Projects -->

  <Content
    id="teaching-projects"
    title="Innovating and iterating everywhere I go"
    subtitle="See how I made positive change at every place I have worked."
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Developed a comprehensive brand identity for a tech startup, Tech Innovators, specializing in disruptive innovations. The goal was to convey a modern yet approachable image that resonated with both corporate clients and tech enthusiasts.',
      },
      {
        title: 'Role:',
        description:
          'Led the entire branding process from concept to execution. Created a dynamic logo that symbolized innovation, selected a vibrant color palette, and I designed corporate stationery, website graphics, and social media assets.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 1: <br /><span class="text-2xl">Brand identity for tech innovators</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          'Designed a captivating event poster for an art and music festival, "ArtWave Fusion," aiming to showcase the synergy between visual art and music genres.',
      },
      {
        title: 'Role:',
        description: `Translated the festival's creative theme into a visually striking poster. Used bold typography, vibrant colors, and abstract elements to depict the fusion of art and music. Ensured the design captured the festival's vibrant atmosphere.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Art and Music Poster Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 2: <br /><span class="text-2xl">Event poster for art & music festival</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Redesigned the e-commerce website for an eco-conscious fashion brand, GreenVogue. The objective was to align the brand's online presence with its sustainable ethos and improve user experience.`,
      },
      {
        title: 'Role:',
        description: `Conducted a thorough analysis of the brand's values and customer base to inform the design direction. Created a visually appealing interface with intuitive navigation, highlighting sustainable materials, and integrating a user-friendly shopping experience.`,
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1683288295841-782fa47e4770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 3: <br /><span class="text-2xl">E-commerce website redesign for fashion brand</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- PORTFOLIO: WebApps -->

  <Content
    id="webapps"
    title="Integrating Bespoke Web Apps"
    subtitle="Explore the Web Apps I have built, why I built them, and how I use them in class."
    isReversed
    items={[
      {
        title: 'Description',
        description: 'A simple websie that displays in large text the schedule for any given class for a specific day.',
      },
      {
        title: 'How I use it',
        description:
          "I display this on a computer monitor that is visible to all sudents so they know what we're doing for the day. One student is assigned to be the Scheduel Manager. Whenever we finish an item, they go over and check it off. They are also in charge of switching the class via the blue dropdown.",
      },
    ]}
    image={{
      src: '~/assets/images/webapps/class-daily.png',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the app',
      icon: 'tabler:chevron-right',
      href: 'https://mjf1406.github.io/class-daily/index.html',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Class Daily <br /><span class="text-2xl">Quick access to your classes' daily schedules</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description',
        description: `A simple website that displays a large clock for viewing along with buttons to quickly start timers of various lengths. Custom timers may also be created and saved. Centers rotations are supported.`,
      },
      {
        title: 'How I use it',
        description: `I use this to quickly set timers for various activities in class. This helps diverse learners immensely by 'externalizing their frontal lobe'. I also use it for centers whenever we do those. The app is great because the students quickly learn to recognize the different sounds, colors, and shapes. For example, they all know that transition time is yellow with circles. Not only this, but each timer has its own color, so students can quickly know what they should be doing just based on the background color at a quick glance.`,
      },
    ]}
    image={{
      src: '~/assets/images/webapps/custom-timer.png',
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the app',
      icon: 'tabler:chevron-right',
      href: 'https://mjf1406.github.io/class-timers/index.html',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Class Timers <br /><span class="text-2xl">Quick access to simple and comlpex pre-made and user-made timers</span
        >
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description',
        description: `A streamlined website designed to responsively maximize the font size of any input message, ensuring optimal utilization of the entire viewport. This tool is especially useful for displaying messages on a phone, enabling easy readability.`,
      },
      {
        title: 'How I use it',
        description: `I use this to show students a quick message that does not require a reply during silent work. The messages are easy to read because they are blown up to take up my phone's entire screen.`,
      },
    ]}
    image={{
      src: '~/assets/images/webapps/magnitext.jpg',
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the app',
      icon: 'tabler:chevron-right',
      href: 'https://mjf1406.github.io/magni-text/index.html',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        MagniText <br /><span class="text-2xl">Easily enlarge a message on your phone for viewing from far away.</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description',
        description: `A mobile-first webapp with a suite tools related to randomly picking students in various ways. This is meant for the teacher only and is not intended to be shared with parents or students.`,
      },
      {
        title: 'How I use it',
        description: `I use this to randomly determine the line order for dismissal. The app is great for this because it ensures that every student goes first and last at least once before anyone goes first or last again. I also let the student who was last for the previous dismissal push the Sort button. Many students enthusiastically look forward to this.`,
      },
    ]}
    image={{
      src: '~/assets/images/webapps/Random Classroom Tools.png',
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the app',
      icon: 'tabler:chevron-right',
      href: 'https://mjf1406.github.io/various-classroom-tools/index.html',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Random Classroom Tools <br /><span class="text-2xl">Various random-adjacent classroom tools.</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description',
        description: `The webapp that holds the collection of all the printable worksheets I have needed in my classrooms. It uses modern web design principals and has features that other generators do not, such as displaying a word's direction or section on a word search, or printing a crossword with specified letters visible.`,
      },
      {
        title: 'How I use it',
        description: `I use this to generate word searches, crossword puzzles, and mazes for Ozobot that students can solve.`,
      },
    ]}
    image={{
      src: '~/assets/images/webapps/word-search-gen.png',
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the app',
      icon: 'tabler:chevron-right',
      href: 'https://mjf1406.github.io/worksheet-generators/index.html',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Worksheet Generators <br /><span class="text-2xl"
          >Quickly generate variuos worksheets for your classes with some features you didn't know you needed.</span
        >
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Together, we can make the next generation better"
    subtitle="Ready to hire an innovative, technology-loving teacher?"
    actions={[
      {
        variant: 'primary',
        text: 'Hire me',
        href: '/',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore my thoughts on teaching and programming"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
